[Desktop Entry]
Name=SOSCap
Version=1.0
Exec=soscap
Icon=io.github.monsterbirdlimited.soscap
Terminal=false
Type=Application
Categories=AudioVideo;Recorder
StartupNotify=true
