[Desktop Entry]
Name=soscap
Version=0.1.0-alpha
Exec=soscap
Icon=io.github.monsterbirdlimited.soscap.icon.png
Terminal=false
Type=Application
Categories=AudioVideo;Recorder
StartupNotify=true

